.footer {
  padding: 80px 0 40px;
  color: $grey;
  font-size: 14px;

  &__items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $main;
    margin-bottom: 35px;
    padding-bottom: 70px;
  }

  &__logo {
    display: block;
    margin-bottom: 28px;
  }

  &__item {
    max-width: 275px;
    width: 100%;
    padding-top: 20px;
  }

  &__title {
    @extend %dmsans-700;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: $blue;
    margin-bottom: 25px;
  }

  &__box:not(:last-child) {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 40px;
    line-height: 1.7;
    letter-spacing: 0.02em;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}

.address {
  width: 100%;
  max-width: 270px;
  @extend %rubik-400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    & p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.subscribe-form {
  display: flex;

  &__input {
    width: 100%;
    max-width: 170px;
    border: none;
    padding: 12px 15px;
    background-color: $beige;

    &::placeholder {
      @extend %dmsans-400;
      font-weight: 400;
      font-size: 12px;
      color: $text;
    }
  }
}

.form-btn {
  @extend %dmsans-400;
  font-weight: 400;
  color: $white;
  background-color: $main;
  border: none;
  padding: 12px 15px;
}

.menu__link-bottom {
  position: relative;
}

.menu__link-bottom::after {
  position: absolute;
  content: "|";
  width: 1px;
  height: 16px;
  top: 0;
  right: -14px;

}