.top-slider {
  &__items {
    background-color: $bg;
  }

  &__item {
    padding: 220px 0 280px;
  }

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

    &::before {
      content: "";
      position: absolute;
      right: -100px;
      top: 50%;
      width: 634px;
      height: 634px;
      border-radius: 50%;
      background-image: linear-gradient(to left, $white 0%, rgba($white, 0) 100%);
      transform: translateY(-50%);
      z-index: -1;
    }

  }

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    color: $title;
    margin-bottom: 25px;
    max-width: 430px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.4;
    max-width: 360px;
    margin-bottom: 44px;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 45px;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        font-size: 12px;
        background-color: $bg-100;
        transition: background-color 0.5s ease;

        &:hover {
          background-color: $yellow-light;
        }
      }

      &.slick-active {
        button {
          background-color: $white;
        }
      }
    }
  }



}

.shop-link {
  display: inline-block;
  padding: 21px 20px 21px 27px;
  color: $white;
  background-color: $main;
  transition: background-color .5s ease;

  &:hover {
    color: $bg;
    background-color: $title;
  }

  span {
    padding-right: 55px;
    font-weight: 500;
    font-size: 15px;
  }

  &:hover svg path {
    fill: $bg;
  }

}

.shop-link svg path {
  fill: #fff;
  transition: fill .5s;
}

.shop-link svg {
  width: 22px;
  height: 9px;
}

.advantages {
  margin-bottom: 70px;

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    justify-content: center;
    padding: 48px;
    width: 100%;
    @extend %dmsans-400;
    font-weight: 400;
    background-color: $beige;

    &:not(:last-child) {
      border-right: 1px solid $grey-400;
    }
  }

  &__info {
    padding-left: 80px;
    max-width: 306px;
    background-position: top left;
    background-repeat: no-repeat;

    &--support {
      background-image: url("../images/support.svg");
    }

    &--delivery {
      background-image: url("../images/delivery.svg");
    }

    &--cart {
      background-image: url("../images/credit.svg");
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    color: $grey-200;
  }

  &__text {
    line-height: 1.4;
    color: $grey-300;
  }
}