$main: #a3bbc8;
$title: #243f4d;
$text: #436372;
$bg: #fcd7b6;
$white: #fff;
$black: #000;
$yellow-light: #d8d3cc;

%rubik-400 {
  font-family: "Rubik-Regular",
    Tahoma,
    sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium",
    Tahoma,
    sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: "DMSans-Regular",
    Tahoma,
    sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: "DMSans-Medium",
    Tahoma,
    sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: "DMSans-Bold",
    Tahoma,
    sans-serif;
  font-weight: 700;
}

%poppins-600 {
  font-family: "Poppins",
    Tahoma,
    sans-serif;
  font-weight: 600;
}